.bar {
  width: 100%;
  height: 85px;
  background: #555271;
  position: fixed;
  top: 0px;
  z-index: 10;
  transition: all 0.5s;
}

.p-bar {
  display: inline;
  color: white;
  margin: 0px 10px 0px 10px;
  text-decoration: underline;
}

.naver {
  position: absolute;
  width: 100%;
  height: 85px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.img-bar {
  height: 75px;
  margin: 5px;
  z-index: 2;
  position: absolute;
}

.whatsapp {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: #25d366;
  font-size: 35px;
  padding: 10px;
  border-radius: 50px;
  color: white;
  z-index: 4;
}

svg {
  width: 50px;
  background-size: 50px;
}

link{
    text-decoration: underline;
    color: white;
}

::-webkit-scrollbar {
  width: 8px;     /* Tamaño del scroll en vertical */
  height: 8px;    /* Tamaño del scroll en horizontal */
  display: none;  /* Ocultar scroll */
}