.slide {
  width: 30%;
  background: red;
  text-align: center;
  display: flex;
  align-items: center;
}

.slide p {
  color: red;
}

.filosofia {
  width: 30%;
  height: 90px;
  position: absolute;
  text-align: center;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.filosofia h1 {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: #4c3e66;
}

.filosofia p {
  position: absolute;
  top: 40px;
}
